<%- include('templates/admin_header') %>
    <%- include('templates/admin_sidebar') %>
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Daftar Produk</h1>
            <p class="mb-4">Berikut adalah daftar produk UKM Anda.</p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        <%= pageTitle %>
                    </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nama Produk</th>
                                    <th>Foto</th>
                                    <th>Kategori</th>
                                    <th>Deskripsi</th>
                                    <th>Stok</th>
                                    <th>Harga</th>
                                    <th>Detail</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <%products.forEach(function(item) {%>
                                    <tr>
                                        <td><%= item.id %></td>
                                        <td>
                                            <%= item.name %>
                                        </td>
                                        <td><img src="/<%= item.image %>" width="250px" alt="s"></td>
                                        <td>
                                            <%=item.category.category%>
                                        </td>
                                        <td>
                                            <%= item.description %>
                                        </td>
                                        <td>
                                            <%= item.quantity %>
                                        </td>
                                        <td>
                                            Rp.<%= item.price %>
                                        </td>
                                        <td>
                                            <a href="/products/detail/<%=item.id%>" class="btn btn-info">Detail</a>
                                        </td>
                                       
                                        <td>
                                            <a href="/admin/edit_products?id=<%=item.id %>" class="btn btn-primary"><i
                                                    class="fas fa-edit fa-sm fa-fw"></i></a>
                                            <a href="delete_products?id=<%= item.id %>" class="btn btn-danger"><i
                                                    class="fas fa-trash fa-sm fa-fw"></i></a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                        <a href="add_products" class="btn btn-warning">Add Product</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <%- include('templates/admin_footer') %>