<%- include('templates/admin_header') %>
    <%- include('templates/admin_sidebar') %>
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Daftar User</h1>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-warning">
                        Tabel User
                    </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nama User</th>
                                    <th>Email</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% $i=1; users.forEach(function(item) {%>
                                    <tr>
                                        <td>
                                            <%= $i++ %>
                                        </td>
                                        <td>
                                            <%= item.name %>
                                        </td>
                                        <td>
                                            <%= item.email %>
                                        </td>
                                        <td>
                                            <a href="" class="btn btn-danger"><i
                                                    class="fas fa-times fa-sm fa-fw"></i></a>
                                            <a href="" class="btn btn-danger"><i
                                                    class="fas fa-trash fa-sm fa-fw"></i></a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <%- include('templates/admin_footer') %>