<%- include('templates/header')-%>
<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="/products">Products</a></li>
        <li class="active">Edit Product</li>
      </ol>
    </div>
    <!--/breadcrums-->

    <div class="shopper-informations">
      <div class="row">
        <div class="col-sm-12">
          <div class="shopper-info">
            <p>Edit Produk</p>
            <% if (errorMessage) { %>
            <div class="alert alert-danger" role="alert">
              <%= errorMessage %>
            </div>
            <% } %>
            <form
              method="POST"
              action="/products/edit/<%=products.id %>"
              enctype="multipart/form-data"
            >
            <% if (editing) { %>
              <input type="hidden" name="id" value="<%= products.id %>"/>
              <% } %>
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Judul Product"
                value="<% if ( editing || hasError) { %><%= products.name %><% } %>"
              />
              <input
                type="file"
                accept="image/png, image/jpeg, image/jpg"
                name="image"
                id="image"
                value="<%= editing ? products.image : '' %>"
              />
             
              <input
                type="text"
                name="quantity"
                id="quantity"
                placeholder="Jumlah Stok Product"
                value="<% if ( editing || hasError) { %><%= products.quantity %><% } %>"
              />
              <input
                type="text"
                name="price"
                id="price"
                placeholder="Harga Product"
                value="<% if ( editing || hasError) { %><%= products.price %><% } %>"
              />
              <p>
                <select name="category_fk" id="" class="form-control">
                  <option value="">Pilih Kategori</option>
                  <% for (let item of categories) { %>
                    <option value="<%=item.id%>"
                      <%= editing && item.id === products.category_fk ? "selected" : "" %> > <%=item.category%></option>
                  <% } %>
                </select>
              </p>
              <textarea
                name="description"
                id="description"
                rows="5"
                placeholder="Deskripsi Produk"
              >
              <% if ( editing ||hasError) { %><%= products.description %><% } %></textarea
              >
              <button type="submit" class="btn btn-primary">
                Edit Product
              </button>
              &nbsp;
              <a href="/products" class="btn btn-primary">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br />

<%- include('templates/footer') -%>
